<div class="container-fluid">
  <h1>Look on these perfect cocktails</h1>
  <h6>Sweet, sour, creamy or bubbly - the perfect cocktail is waiting you</h6>
</div>
<div class="container m-4">
  <search (searchTextChanged) = "onSearchTextEntered($event)"></search>
  <filter (showFilteredCocktails)="displayFilteredCocktails($event)"
          (shouldShowAllCocktails)="displayAllCocktails()">
  </filter>
  <card-cocktail *ngFor="let cocktail of cocktails"
                 [cocktail] = "cocktail"
                [searchText] = "searchText">
  </card-cocktail>
</div>
