<div *ngIf="searchText === '' || cocktail.name.toLowerCase().includes(searchText)" class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{cocktail.imageUrl}}" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{cocktail.name}}</h5>
        <p class="card-text"><small class="text-muted">By {{cocktail.author}}</small></p>
        <p class="card-text">
          <span *ngIf="cocktail.withAlcohol == false" class="badge rounded-pill text-bg-success">Non-Alcoholic</span>
          <span *ngIf="cocktail.withAlcohol == true" class="badge rounded-pill text-bg-warning">Alcoholic</span>
        </p>
        <ul class="list-group list-group-flush">
          <li *ngFor="let i of cocktail.ingredients" class="list-group-item">{{i}}</li>
        </ul>
        <p class="card-text">{{cocktail.description}}</p>
      </div>
      <button type="button" class="btn btn-warning m-2" (click)="deleteCocktail()">
        Delete <span class="material-symbols-outlined">Delete</span>
      </button>
      <button type="button" class="btn btn-primary m-2" routerLink="/add-cocktail" (click)="editCocktail()">
        Edit <span class="material-symbols-outlined">Edit</span>
      </button>
    </div>
  </div>
</div>
